body {
    font-family: Montserrat, Bold;
    background-image: radial-gradient(circle, #f2f7f9, #b0ddf9, #70c0fd, #30a0ff, #057bfb);
    
  }
  .topnav {
    overflow: hidden;
    text-align: center;
    background: black;
  }
  
  .topnav a {
    float: left;
    color: white;
    padding: 50px 50px;
    text-decoration: none;
    font-size: 26px;
    position: relative;
    font-family: Montserrat, Bold;
  }
  
  .topnav a:hover{
  
    transform: translate3d(0,-10px,0);
    text-shadow: 1px 0 rgb(255, 255, 255);
    
  }
  
  #navpos {
    display: inline-block;
  }
  
  
  
  #logo {
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
  }
  
  /* #logo:hover {
    transform: translate3d(0,-10px,0);
  } */
  
  .movi h2 {
    font-size: 100px;
  }
  
  
  .row
  {
    padding-bottom: 50px;
  
  }
  
  .hoverable{
    border: solid black;
    background-color: #fff;
  }
  .hoverable:hover{
  
    box-shadow: 30px 30px 30px rgb(0, 0, 0);
    transform: translate3d(0,-2px,0);
  
  }
   
  #description{
    text-align: justify;
  }
  button{
    font-size: 20px;
    
    
  }
