
body {
  background-color: white;
  text-align: center;
  font-family: Montserrat,Bold;


}

.topnav {
    overflow: hidden;
    text-align: center;
    background:black;
  }

  .topnav a {
    float: left;
    color: white;
    padding: 50px 50px;
    text-decoration: none;
    font-size: 26px;
    position: relative;
    font-family: Montserrat,Bold;
  }

  #navpos{
    display: inline-block;
    
  }
  
#logo {
  font-size: 30px;
  text-align: center;
  padding-top: 30px;
}

#logo:hover {
  box-shadow: 0 0 100px rgb(255, 255, 255);
}
   