body {
  font-family: Montserrat, Bold;
  text-align: center;
  
}
.topnav {
  overflow: hidden;
  text-align: center;
  background: black;
}

.topnav a {
  float: left;
  color: white;
  padding: 50px 50px;
  text-decoration: none;
  font-size: 26px;
  position: relative;
  font-family: Montserrat, Bold;
}

#navpos {
  display: inline-block;
}

a.item:before,
a.item:after {
  position: absolute;
  transition: all 0.3s;
}

a.item:before {
  content: "(";
  left: 0px;
  transform: translateX(2px);
  opacity: 0;
}

a.item:after {
  content: ")";
  right: 0px;
  transform: translateX(-5px);
  opacity: 0;
}

a.item:hover:before,
a.item:hover:after {
  opacity: 1;
  transform: translateX(0px);
}

#logo {
  font-size: 30px;
  text-align: center;
  padding-top: 30px;
}

#logo:hover {
  box-shadow: 0 0 100px rgb(255, 255, 255);
}

.play h2{

    font-size: 100px;
}


.row
{
  padding-bottom: 50px;

}


.hoverable:hover{

  box-shadow: 30px 30px 30px rgb(0, 0, 0);
}
